<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Body Tune</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar2 navbar-fixed-left">
        @Html.ActionLink("BodyTune", "Index", "Home", null, new { @class = "logoLink" })
        <div class="leftNavSections">
            <ul style="list-style: none;">
                <li><span class="leftNavHeadings">General</span></li>
<<<<<<< HEAD

                <li>@Html.ActionLink("About", "About", "About", new { @class = "leftNavSubHeadings" })</li>
=======
<<<<<<< HEAD
=======
>>>>>>> origin/master
                <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Mission", "Index", "Mission", null, new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Therapist", "Therapist", "Therapist", null, new { @class = "leftNavSubHeadings" })</li>
            </ul>
        </div>
        <div class="leftNavSections">
            <ul style="list-style: none;">
                <li><span class="leftNavHeadings">Exercise</span></li>
                <li>@Html.ActionLink("Library", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Assigned", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Favorites", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("History", "", "", new { @class = "leftNavSubHeadings" })</li>
            </ul>
        </div>
        <div class="leftNavSections">
            <ul style="list-style: none;">
                <li><span class="leftNavHeadings">Appointment</span></li>
                <li>@Html.ActionLink("Request", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("View", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Cancel", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("History", "", "", new { @class = "leftNavSubHeadings" })</li>
            </ul>
        </div>
        <div class="leftNavSections">
            <ul style="list-style: none;">
                <li><span class="leftNavHeadings">Messages</span></li>
                <li>@Html.ActionLink("Inbox", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Contact", "", "", new { @class = "leftNavSubHeadings" })</li>
            </ul>
        </div>
        <div class="leftNavSections">
            <ul style="list-style: none;">
                <li><span class="leftNavHeadings">My Account</span></li>
                <li>@Html.ActionLink("Personal Info", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Edit", "", "", new { @class = "leftNavSubHeadings" })</li>
                <li>@Html.ActionLink("Change PW", "", "", new { @class = "leftNavSubHeadings" })</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Body Tune</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
