@model BodyTune.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BodyPart.BodyPartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyPart.BodyPartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseImageUrl)
        </dt>
    </dl>
    <img src="@Model.ExerciseImageUrl" />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
